.seremon-list .seremon-meta .pastor{
    text-transform: none;
}
.seremon-list img{
    width: 50px;
}
.seremon-list{
    height: 250px;
    overflow: auto;
}
.event-list{
    height: 250px;
    overflow: auto;
}
.news{
    cursor: pointer;
}