<div class="page-head" style="background-image: url('assets/images/page-head-1.jpg');">
  <div class="container">
    <h2 class="page-title">Founders</h2>
  </div>
</div>

<main class="main-content">
  <div class="fullwidth-block">
    <div class="container" *ngFor="let item of founders | async">
                    <h2 class="section-title">Bethel Gospel Assembly Founders</h2>
      <div class="row founder-container">
                      <div class="content col-md-5 vertical-center">
                        <img src="assets/images/{{item.photo}}" alt="" class="founder-img"></div>
        <div class="content col-md-7 vertical-center">
        
        
            
              <div class="seremon-detail">
                <h3 class="seremon-title"><a href="#">{{item.names}}</a></h3>
                
                <p>{{item.description}}</p>
              </div>
           
          
        </div>
      
      </div>
    </div>
              
  </div>
</main> <!-- .main-content -->
